<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script data-require="angular.js@1.4.0-beta.6" data-semver="1.4.0-beta.6" src="https://code.angularjs.org/1.4.0-beta.6/angular.js"></script>
    <script src="script.js"></script>
    
<body>
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
      <a class="navbar-brand" href="#">Simulador de rendimiento</a>
</nav>
    
<div  ng-app="myApp" ng-controller="calculatorCtrl" ng-init='cal=true' class="col-xs-3 col-xs-offset-4">
        <form>
            <h3>Monto Inicial</h3>
            <div class="input-group">
                <span class="input-group-addon">$</span>
                <input ng-model="montoInicial" type="number" step="any" min=”0″ class="form-control" placeholder="monto">
            </div>
             
            <h3>Incremento Mensual</h3>
            <div class="input-group">
                <span class="input-group-addon">$</span>
                <input ng-model="incrementoMensual" type="number" step="any" min=”0″ class="form-control" placeholder="monto">
            </div>
            
           <h3>Rendimiento Anual <span style=" font-style: italic; ">aprox</span></h3>
            <div class="input-group">
                <span class="input-group-addon">%</span>
                <input ng-model="rendimiento" type="text" class="form-control" placeholder="Rendimiento">
            </div>
            <h3>Tiempo Proyectado</h3>
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                <input ng-model="dias" type="text" class="form-control" placeholder="meses">
            </div>
            <br>
            <div class="input-group">
                <button type="submit" class="btn btn-default"  ng-click="result= calc(montoInicial,incrementoMensual ,rendimiento,dias-1)">Calcular</button>
                <button type="submit" class="btn btn-default" ng-click="reset()">Reset</button>
                <button type="submit" class="btn btn-default" ng-click="download()">Download</button>
                <h3>Monto Total: {{result[0] | number : 2 }}</h3>
                <h3>Rendimiento Total: {{result[1]| number : 2}}</h3>        
            </div>      
        </form>
        <table class="table table-bordered">
            <thead>
              <tr>
                <th>Mes</th>
                <th>Monto</th>
                <th>Rendimiento</th>
              </tr>
            </thead>
            <tbody ng-model="objmeses">
                <tr ng-repeat="x in objmeses">
                    <td>{{ x.mes }}</td>
                    <td>{{ x.monto | number : 2 }}</td>
                    <td>{{ x.rendimiento| number : 2}}</td>
                 </tr>
            </tbody>
  
</div>    
</body>
</html>
